/* Use Crete+Round as the default serif font. */
@import url("https://fonts.googleapis.com/css?family=Crete+Round");
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #e3f2fd;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  background: fixed center url("/images/piano-background.png");
  background-size: cover;
  font-family: 'ABeeZee', sans-serif;
  color: black;
}

h1, h2, h3 {
  font-family: "Crete Round", serif;
  color: black;
  display: block;
}

#root a {
  color: #343434;
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

#nav-links {
  border-bottom: white 1px solid;
  width: 50vw;
  color: white;
  font-size: 18px;
}

#nav-links a {
  color: white;
  padding: 0 30px 0 10px;
}

#nav-links a:hover { color: #343434; }

#landing {
  overflow: auto;
}

#landing-center {
  height: 600px;
}

#landing h1, #landing p {
  color: white;
}

#info {
  background-color: #6BACD4;
}

#discover, #profile, #groups {
  min-height: calc(100vh - 80px);
}

#root .btn {
  border-color: white;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#root .blue {
  border-color: #6BACD4;
  background-color: #6BACD4;
}

#root .btn:hover {
  border-color: white;
  background-color: white;
  color: black;
}

#root .on-white:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

#root input:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

#navbar {
  background-color: #6BACD4;
}

#profile-card {
  height: 400px;
}

#profile-image {
  max-width: 300px;
  height: fit-content;
  max-height: 300px;
}

#profile-groups {
  height: calc(100vh - 270px);
  overflow: auto;
}

#discover-sidebar, #groups-sidebar {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
}

#user-card {
  height: 275px;
}

#user-image {
  max-width: 150px;
  height: fit-content;
  max-height: 190px;
}

#user-card-info {
  width: 200px;
}